

:root {
    --blue: #283044;
    --lightblue: #78A1BB;
    --mint: #EBF5EE;
    --pink: #BFA89E;
    --cin: #8B786D;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--lightblue);
}

.navbar, .box {
    background-color: var(--mint);
}

h1 {
    font-size: 40px;
    font-weight: 500;   
}


.navbar-link, .navbar-item {
    font-size: 20px;
}

section p {
    font-size: 20px;
}

.button.is-primary {
    background-color: var(--blue);
}

.button.is-primary:hover {
    background-color: var(--pink);
}

div.slider-item {
    padding-left: 40px;
}

div.card-content {
    background-color: var(--mint)
}

.button.button.is-primary {
    margin-right: 3px;
}

h2 {
    border-left: solid 5px var(--cin);
    padding: 15px;
}

.title.is-4 {
    color: var(--cin);
}



.hidden {
    display: none;
}